doctype html
head
  link(href='/style.css' rel='stylesheet')
  title Exploit Server
section.maincontainer.is-page
  .container
    h3 Access log
    form#feedbackForm(action='/clear-log' method='POST' style='max-width: unset')
        button.button(name='formAction' value='CLEAR_LOG' type='submit')
            | Clear log
    code
        pre 
            include ../public/access.log
    
    br
    footer By minhtuanact, Inspired by Portswigger