doctype html
head
  link(href='/style.css' rel='stylesheet')
  title Exploit Server
section.maincontainer.is-page
  .container
    h3 Craft a response
    form#feedbackForm(action='/' method='POST' style='max-width: unset')
      p
        | URL: 
        span#fullUrl
      label HTTPS
      input(type='checkbox' style='width: auto' name='urlIsHttps' checked='' onchange='updateFullUrl()')
      label File:
      input(required='' type='text' name='responseFile' value=responseFile oninput='updateFullUrl()')
      label Head:
      textarea(required='' rows='12' cols='300' name='responseHead')
        | !{responseHead}
      label Body:
      textarea(required='' rows='12' cols='300' style='white-space: no-wrap; overflow-x: scroll' name='responseBody') !{responseBody}
      button.button(name='formAction' value='STORE' type='submit')
        | Store
      button.button(name='formAction' value='VIEW_EXPLOIT' type='submit')
        | View exploit
      button.button(name='formAction' value='ACCESS_LOG' type='submit')
        | Access log
      //- a(href='/access.log')
      //-   input(type='button' value='Access log')
    script.
      const convertFormToJson = (node) => Array.from(node.querySelectorAll('input, textarea, select'))
      .reduce((acc, cur) => {
      acc[cur.name] = cur.type === 'checkbox' ?
      cur.checked :
      cur.value;
      return acc;
      }, {})
      const updateFullUrl = () => {
      const o = convertFormToJson(document.getElementById('feedbackForm'));
      const target = document.getElementById('fullUrl');
      const hostname = location.hostname+":"+location.port;
      const responseFileParameterKey = 'responseFile';
      const urlIsHttpsParameterKey = 'urlIsHttps';
      const tls = o[urlIsHttpsParameterKey];
      let url = tls ? 'https' : 'http';
      url += '://';
      url += hostname;
      url += o[responseFileParameterKey];
      target.textContent = url;
      };
      updateFullUrl();
    br
    footer By minhtuanact, Inspired by Portswigger
